footer {
  background-color: #1d2124;
  padding-top: 30px;
  color: white;
  padding-bottom: 20px;
}
.footer-head {
  margin: 0;
}
.footer-text {
  padding: 10px 20px;
}
.footer-link {
  color: white;
  margin-bottom: 10px;
  &:hover {
    color: #6c757d;
  }
}