doctype html
html(lang="ru-RU")
    head
        meta#myViewport(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(charset="utf-8")
        link(href="css/all.css" rel="stylesheet")
        link(href="css/hotel-datepicker.css" rel="stylesheet")
        <!-- Bootstrap -->
        //link(href="bootstrap/css/bootstrap.min.css" rel="stylesheet")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        title TEST task
    body
        include modules/header
        include modules/main
        include modules/footer

        //datepicker scripts
        script(src="js/fecha.js")
        //script(src="js/hotel-datepicker.js")

        //jquery
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        //main script
        script(type="text/javascript" src="js/ES5/main.js")
        //script(type="text/javascript" src="bootstrap/js/bootstrap.min.js")
        //bootsrap script
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')


