section.footer
    .container
        .row
            .footer_wrap
                .col-md-6
                    .footer_gifts
                        a(href="#")
                            img(src="https://assets-cdn.github.com/images/modules/site/universe-octoshop.png" alt="gifts")
                .col-md-6
                    .footer_wrap
                        .footer_universe
                            a(href="#")
                                img(src="https://assets-cdn.github.com/images/modules/site/universe-wordmark.png" alt="universe")
                                h3 Experience the Octoshop
                                p.
                                    Get your Universe ticket and make room in your bag for limited edition Octoshop swag.
                            a(href="#").learn_more Learn more