header.main-header
    .container
        .header(id="header_wrap")
            .logo_wrap
                a(href="")
                    img(src="img/gitlogo2.png" alt="git_logo")
            div.main_menu__wrap(id="main_menu__wrap")
                .left_menu__wrap
                    nav
                        ul.main_menu
                            li
                                a(href="") Features
                            li
                                a(href="") Business
                            li
                                a(href="") Explore
                            li
                                a(href="") Marketplace
                            li
                                a(href="") Pricing
                .right_menu__wrap
                    form.search
                        input(type="text" placeholder="Search GitHub")
                    div.login
                        a(href="#") Sign in
                        =" "
                        span or
                        =" "
                        a(href="#") Sign up
            button.show_main_menu(id="show_main_menu")
                span.show_main_menu_line