main
    section.main-circles-section
        .container
            .main-circles
                .main-circles__item
                    .circle
                    .circle__text
                        span Platinum use
                        p Lorem ipsum dolor set amet ipsum dolor set amet ipsum
                .main-circles__item
                    .circle
                    .circle__text
                        span Platinum use
                        p Lorem ipsum dolor set amet ipsum dolor set amet ipsum
                .main-circles__item
                    .circle
                    .circle__text
                        span Platinum use
                        p Lorem ipsum dolor set amet ipsum dolor set amet ipsum
                .main-circles__item
                    .circle
                    .circle__text
                        span Platinum use
                        p Lorem ipsum dolor set amet ipsum dolor set amet ipsum
                .main-circles__item
                    .circle
                    .circle__text
                        span Platinum use
                        p Lorem ipsum dolor set amet ipsum dolor set amet ipsum
                .main-circles__item
                    .circle
                    .circle__text
                        span Platinum use
                        p Lorem ipsum dolor set amet ipsum dolor set amet ipsum
    section.how-it__wrap
        .container
            .how-it
                .how-it__item.how-it__item_text
                    h2 how it works
                    p Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet
                    a(href="#") give it
                .how-it__item.how-it__item_devices
                    img(src="img/device.png")

