main
    section.main-circles-section
        .container
            .col-md-2
                .left-sidebar
            .col-md-8
                .calendar-wrap
                    .datepicker-title
                        span Оберіть бажаний час бронювання
                    .calendar
                        .hotel-datepicker
                            input(type="text" value="" id="datepicker")
                        .calendar-info
                            span.days-qty
                                span.days-title Кількість заброньованих ночей:
                                span#days 1
                            span.money-qty
                                span.money-title Вартість:
                                span#money 500

            .col-md-2
                .right-sidebar