section.main
    .container
        .row
            .col-md-7
                .left_sidebar
                    h1 Built for developers
                    p GitHub is a development platform inspired by the way you work. From
                        =" "
                        a(href="#") open source
                        =" "
                        span to
                        a(href="#")  business
                        | , you can host and review code, manage projects, and build software alongside millions of other developers.
            .col-md-5
                .right_sidebar
                    .sing_up_form
                        form
                            .username_wrap.input_wrap
                                label(for="username") Username
                                input(type="text" placeholder="Pick a username" name="username" id="username")
                            .email_wrap.input_wrap
                                label(for="email") Email
                                input(type="text" placeholder="you@example.com" name="email" id="email")
                            .password_wrap.input_wrap
                                label(for="password") Password
                                input(type="password" placeholder="Create a password" name="password" id="password")
                            span Use at least one letter, one numeral, and seven characters.
                            button(type="submit").submit_button Sign up for GitHub
                            p By clicking "Sign up for GitHub", you agree to our
                                =" "
                                a(href="#") terms of service
                                =" "
                                span and
                                a(href="#")  privacy policy
                                | . We’ll occasionally send you account related emails.
